@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
}

h1 {
    text-align: center;
}

#monCanvas {
    border: 10px solid #1EF604FF;
    background-color: black;
}