/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */

/* General */

*, *::before, *::after {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    
    margin: 20px;
}

/* Côté gauche écran */

.container-gauche-ecran {
    width: 30%;
    height: 100%;

    border: white 5px solid;
}

/* Centre écran */

.container-centre-ecran {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    
    width: 40%;
    height: 100%;
    
    margin: 0 20px;
}

.container-titre {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 15%;
    
    border: white 5px solid;
}

.container-titre h1 {
    text-align: center;
    font-size: 3rem;
}

.container-infos-jeu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
    height: 10%;
    border: white 5px solid;

    font-size: 20px;
}

.container-jeu {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 70%;

    border: white 5px solid;
}

#monCanvas {
    border: 10px solid #1EF604FF;
    background-color: black;
}

/* Côté droite écran */

.container-droite-ecran {
    width: 30%;
    height: 100%;
    
    border: white 5px solid;
}